# Ignore these file types #
###########################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.orig
*.suo
*.vsp
*.cache
*.pdb
*.xgs
*.xsb
*.xwb
*.xnb
*.cachefile
*.sln
*.user
*.pfx
*.csproj
*.ccgame
*.contentproj
*.eqconfig
*.xap
*.application
*.eqbak
*.manifest
